.body__brasil{
    background-image: url(/img/pexels-athena-6580702.jpg);
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-position: center;
    .header__grilla--brasil{
        background:rgba(3, 3, 3, 0.789);
    }
}

