.body__grilla{
    background-image: url(https://wallpaperaccess.com/full/1392570.jpg);
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-position: center;
    .header__grilla{
        background:rgba(3, 3, 3, 0.789);
    }
}
.main__grilla{
    background:rgba(3, 3, 3, 0.789);
    color: #fff;
    width: 90%;
    margin: auto;
    a{
        text-decoration: none;
        color: #d6d3d3;
        &:hover{
            color: #fff;
        }
    }
    }
        
    .logo__grilla{
        display: flex;
        justify-content: center;
        flex-direction: column;
        font-family: 'Montserrat Alternates', sans-serif;
        align-items: center;
        background:rgba(3, 3, 3, 0.789);
        height: 179px;
        font-weight: 700;
        font-size: 22px;
        padding: 9px;
        @media(max-width:400px){
           display: none;
        }
        img{
        width: 140px;
        }
    }
    .grilla__detalle{
        display: flex;
        width: 100%;
        padding: 9px;
        justify-content: space-around;
        margin: auto;
        font-size: 1.9rem;
        align-items: start;
        flex-direction: column;
        height: 600px;
        background:rgba(0, 0, 0, 0.079);
        @media(max-width:1080px){
            font-size: 1.5rem;
        }
        @media(max-width:600px){
            font-size: 1.4rem;
        }
        @media(max-width:530px){
            font-size: 1.3rem;
        }
        @media(max-width:400px){
            top: 435px;
            width: 300px;
            height: 372px;
            font-size: 0.9rem;
            height: 432px;
            
        }
        a{
            text-decoration: none;
            color: #7e7d7d;
            font-size: 1.7rem;
            @media(max-width:580px){
                font-size: 1.2rem;
            }
            @media(max-width:490px){
                font-size: 1.3rem;
            }
            
            @media(max-width:400px){
                font-size: 1rem;
            }
           
            &:hover{
                color: #fff;
            }
        }
        .logo__grilla-detalle{
            display: flex;
            flex-direction: column-reverse;
            background:rgba(0, 0, 0, 0.246);
            width: 100%;
            align-items: center;
            font-family: 'Montserrat Alternates', sans-serif;
            img{
                width: 140px;
                @media(max-width:400px){
                    width: 80px;
                }
                @media(max-width:600px){
                    width: 80px;
                }
                @media(max-width:400px){
                    width: 55px;
                }
                
            }
        }
        hr{
            width: 100%;
            color: rgba(0, 0, 0, 0.246);
        }
       .cuadro__grilla{
        display: flex;
        justify-content: space-around;
        width: 100%;
        padding: 12px;
        select{
            background-color: transparent;
            border: none;
            color: #fff;
            font-size: 16px;
            @media(max-width:400px){
                font-size: 0.9rem;
                
            }
        }
        option{
            background:#000;
            font-size: 14px;
           
        }
       }
    }
    
